[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
websockets = "*"
playsound = "*"

[dev-packages]
setuptools = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"
